<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragmentos/header :: head">
    <meta charset="UTF-8">
</head>
<body>
    <div th:insert="/fragmentos/header :: menu"></div>
    <div class="container">

        <h1 class="mt-4 mb-3">
            <small>Editar Producto</small>
        </h1>

        <form th:action="@{'/categorias/actualizarProducto/' + ${producto.id_producto}}" th:object="${producto}" method="post">
            <input type="hidden" th:field="*{id_producto}" />
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" th:field="*{nombre}" required="required" />
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción:</label>
                <textarea class="form-control" th:field="*{descripcion}" required="required"></textarea>
            </div>
            <div class="mb-3">
                <label for="imagen" class="form-label">URL de la Imagen:</label>
                <input type="text" class="form-control" th:field="*{imagen}" required="required" />
            </div>
            <div class="mb-3">
                <label for="cantidad" class="form-label">Inventario:</label>
                <input type="number" class="form-control" th:field="*{cantidad}" required="required" />
            </div>
            <button type="submit" class="btn btn-primary">Actualizar Producto</button>
            <button type="button" class="btn btn-secondary" th:onclick="'cancelar(' + ${producto.categoria.id_categoria} + ')'" >Cancelar</button>
        </form>

    </div>

    <script th:src="@{vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:inline="javascript">
    function cancelar(idCategoria) {
        window.location.href = '/categorias/verProductos/' + idCategoria;
    }
    </script>
    
</body>
</html>
